.media-card {
    min-height: 350px;
    background-color: black;
    position: relative;
    overflow: hidden;
    border: 1px solid #282828;
    border-radius: 20px;
}

.media-poster {
    width: 100%;
    position: absolute;
    top: -10vmin;
    left: 0;
}

.media-poster img {
    width: 100%;
    display: block;
    aspect-ratio: 2 / 3;
    object-fit: cover;
}

.media-info {
    height: 100%;
    padding: 55% 10px 10px 10px;
    background: linear-gradient(to top, black 50%, transparent 100%);
    position: relative;
    color: white;
}

@media screen and (min-width: 530px) {
    .media-poster {
        width: 70%;
        left: -10vmin;
    }


    .media-info {
        padding: 50px 10px 10px calc(50% + 10px);
        background: linear-gradient(to left, black 50%, transparent 100%);
    }
}

@media screen and (min-width: 750px) {
    .media-info {
        padding: 50px 10px 10px calc(45% + 10px);
        background: linear-gradient(to left, black 55%, transparent 100%);
    }
}

@media screen and (min-width: 885px) {
    .media-poster {
        top: 0;
    }
}

.media-info__title {
    text-align: center;
    margin-bottom: 16px;
}

.media-info__genres {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 15px;
    font-style: italic;
    font-weight: 100;
}

.media-info__ratings {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.media-info .added::before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: gold;
}

.media-info__star {
    margin-right: 5px;
}

.media-info__description {
    display: block;
    font-size: 16px;
    line-height: 1.2;
}

.media-details {
    text-decoration: none;
    cursor: pointer;
}
